<div class="container text-center">
    <div class="btn-group-vertical">
        <button class="btn btn-success btn-lg" [routerLink]="['/books/series']"  >Мультсериалы</button>
        <button class="btn btn-success btn-lg" [routerLink]="['/books/soviet']"  >Советские мультики</button>
        <button class="btn btn-success btn-lg" [routerLink]="['/books/sovietfairytale']" >Советские сказки</button>
        <button class="btn btn-success btn-lg" [routerLink]="['/books/animation']" >Зарубежные мультики</button>
        <button class="btn btn-success btn-lg" [routerLink]="['/audio/child']" >Аудиосказки</button>
        <button class="btn btn-success btn-lg" [routerLink]="['/books/balley']" >Балет</button>
        <button class="btn btn-info btn-lg" [routerLink]="['/books/film']" >Фильмы</button>
        <button class="btn btn-info btn-lg" [routerLink]="['/books/other']"  >Сериалы и курсы</button>
        <button class="btn btn-info btn-lg" [routerLink]="['/books/youtube']" >Youtube</button>
        <button class="btn btn-info btn-lg" [routerLink]="['/audio/main']" >Аудио</button>
        <button class="btn btn-info btn-lg" [routerLink]="['/books/latest']" >Недавнее</button>
    </div>
</div>
