<div class="col-md-12">
  <div class="form-group mt-3">
    <div class="input-group">
      <div class="input-group-prepend">
        Сериал
      </div>
      <input class="ml-2" type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchBooks()" list="browsers">
      <datalist id="browsers">
        <option *ngFor="let data of series" value="{{data.name}}">
      </datalist>
      
      <div class="input-group-prepend ml-2">
        Число серий
      </div>
      <input class="ml-2" type="text" [(ngModel)]="seriesCount" type="number" />
    </div>
  </div>

  <div *ngFor="let book of books">

    <p class="h6">{{book.name}}</p>

    <img src='data:image/jpg;base64,{{book.cover}}' (click)="openVideo(book.id)" />

  </div>
</div>