.jumbtron {
    padding-top: 60px;
}

img {
    cursor: pointer;
    max-width: 100%;
 }

 .shownFilm{
     opacity: 0.5;
 }

 label {
    margin-bottom: 0;
}


img{
    max-height: 550px;
}