
a{
    color: rgb(0, 123, 255) !important;
    text-decoration-style: solid;
    cursor:pointer ;
}

#marksList{
    max-height: 280px;
    /* overscroll-behavior: none; */
    overflow: auto;
    width: auto;
}