a{
    color: rgb(0, 123, 255) !important;
    text-decoration-style: solid;
    cursor:pointer ;
}

#marksList{
    /* overscroll-behavior: none; */
    overflow: auto;
    width: auto;
}

.limitHeight{
    max-height: 280px;
}

.deleted{
    opacity: 0.5;
}

.inline{
    display: inline;
}

.text-success{
    opacity: 1;
}
