a{
    color: rgb(0, 123, 255) !important;
    text-decoration-style: solid;
    cursor:pointer ;
}

#marksList{
    /* overscroll-behavior: none; */
    overflow: auto;
    width: auto;
}

.limitHeight{
    height: 150px !important;
}

.deleted{
    opacity: 0.5;
}

.inline{
    display: inline;
}

.text-success{
    opacity: 1;
}

.flex-content {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .scrollable-content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
  html {
    height: 50%;
    width: 50%;
  }
  body {
    height: 100%;
    width: 100%;
  }
  .parent {
    height: 100%;
  }