<div >
  <img *ngIf="!videoURL && !isLoading" alt="Finish!" src="./assets/img/finish.jpg">
  <img *ngIf="isLoading" alt="Loading!" src="./assets/img/loading.jpg">

  <div *ngIf="videoURL">
      
    <video  controls height="auto" autoplay  #videoElement (ended)="videoEnded()">
      <source src="{{videoURL}}" type="video/mp4"/>
    </video>

    <div class="ml-2">
      <button (click)="skipVideo()">Следующее</button>
      <h4>{{name}}</h4>
      <div>{{statStr}}</div>
    </div>
  </div>
</div>

<!-- https://openbase.com/js/@vime/angular
https://openbase.com/js/@videogular/ngx-videogular
https://openbase.com/js/videogular2
https://pepe19000.github.io/Demo/menu/NgxVideoListPlayer -->