<div>
  <img *ngIf="!videoURL " alt="Finish!" src="./assets/img/finish.jpg" >
  <div *ngIf="videoURL">
      
    <video  controls height="auto" autoplay  #videoElement (ended)="videoEnded()">
      <source src="{{videoURL}}" type="video/mp4"/>
    </video>

    <div class="ml-2">
      <button (click)="skipVideo()">Следующее</button>
      <!-- <button (click)="download()">Скачать</button> -->
      <button (click)="copyLink()">Скопировать ссылку</button>

      <h2>{{name}}</h2>
      <div>{{statStr}}</div>
      <div> 

    </div>
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Выключить через (минут)</mat-label>
          <input matInput type="number"  [(ngModel)]="timerMinutes" (keyup.enter)="setTimer()">
        </mat-form-field>

        <button mat-icon-button color="primary"  (click)="setTimer()" >
          <mat-icon>alarm_on</mat-icon>
        </button>

        <div *ngIf="timeLeft">Осталось до остановки: {{ timeLeft * 1000 | date:'mm:ss' }} </div>
    </div>
  </div>
</div>

<!-- https://openbase.com/js/@vime/angular
https://openbase.com/js/@videogular/ngx-videogular
https://openbase.com/js/videogular2
https://pepe19000.github.io/Demo/menu/NgxVideoListPlayer -->