.form {
    margin: 0 auto !important;
    float: none !important;
}

video{
    width: 100%;
    cursor: pointer;
}

a{
    color: rgb(0, 123, 255) !important;
    text-decoration-style: solid;
    cursor:pointer ;
}