<div class="col-md-12">

    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  
    <div>
      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Название</mat-label>
        <input matInput  [(ngModel)]="searchTitle" (ngModelChange)="search()">
      </mat-form-field>
  
      <mat-form-field appearance="fill"  *ngIf="isSelectSeries" >
        <mat-label>Сериал</mat-label>
        <mat-select [(ngModel)]="serieId" (ngModelChange)="search()">
          <mat-option *ngFor="let data of series" value="{{data.id}}">
            {{data.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill"  *ngIf="isSelectSeries" >
        <mat-label>Сезон</mat-label>
        <mat-select [(ngModel)]="seasonId" (ngModelChange)="search()">
          <mat-option *ngFor="let data of seasons" value="{{data.id}}">
            {{data.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div *ngIf="selectedFile">{{selectedFile.name}}</div>
    <audio id="player"  controls height="auto" autoplay  #audioElement (ended)="videoEnded()" src="{{audioURL}}"></audio>
      <!-- <audio id="player" controls height="auto" autoplay  #audioElement (ended)="videoEnded()" src="https://file-examples.com/storage/fe1207564e65327fe9c8723/2017/11/file_example_MP3_700KB.mp3"></audio> -->

    <div>

      <button class="btn btn-outline-danger btn-sm" (click)="videoEnded()">Следующее</button>
      <button class="btn btn-outline-danger btn-sm" (click)="continue()">Продолжить</button>
  
      <app-markslist [videoId]="fileId"></app-markslist>
    </div>
    
    <ul class="list-group list-group-light">
      <li class="list-group-item d-flex justify-content-between align-items-center" (click)="selectAudio(file)"
        [ngClass]="{'greenBackground' : file.id==selectedFile.id}"
        *ngFor="let file of filteredFiles">
        {{file.name}}
        <span class="badge badge-primary rounded-pill">{{file.durationMinutes}}</span>
      </li>
    </ul>

</div>  