<div class="col-md-12 limited">

  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

  <mat-expansion-panel  [expanded]="showChoicePanel">
    <mat-expansion-panel-header >
      <mat-panel-title>
        Выбор трека
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Название</mat-label>
        <input matInput [(ngModel)]="searchTitle" (ngModelChange)="search()">
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="isSelectSeries">
        <mat-label>Автор или сборник</mat-label>
        <mat-select [(ngModel)]="serieId" (ngModelChange)="search()" [disabled]="serieId">
          <mat-option *ngFor="let data of series" value="{{data.id}}">
            {{data.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="isSelectSeries">
        <mat-label>Аудиокнига</mat-label>
        <mat-select [(ngModel)]="seasonId" (ngModelChange)="search()">
          <mat-option *ngFor="let data of seasons" value="{{data.id}}">
            {{data.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="isSelectSeries" appearance="fill">
        <mat-label>Сколько еще файлов проиграть</mat-label>
        <input matInput type="number" [(ngModel)]="episodesLeft">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Выключить через (минут)</mat-label>
        <input matInput type="number" [(ngModel)]="timerMinutes" (keyup.enter)="setTimer()" />
      </mat-form-field>

      <button mat-icon-button color="primary" (click)="setTimer()">
        <mat-icon>alarm_on</mat-icon>
      </button>

      <div *ngIf="timeLeft">
        Осталось до остановки: {{ timeLeft * 1000 | date : "mm:ss" }}
      </div>

    </div>

    <mat-form-field style="width: 50%;" *ngIf="selectedFile && showManagementButtons">
      <mat-label>Название трек1</mat-label>
      <input matInput (change)="fileChanged($event.target.value)" value="{{selectedFile.name}}">
    </mat-form-field>

    <mat-form-field style="width: 50%;" *ngIf="selectedFile && showManagementButtons">
      <mat-label>Поменять аудиокнигу</mat-label>
      <mat-select [(ngModel)]="newSeasonId" (ngModelChange)="changeSeason()">
        <mat-option *ngFor="let data of allSeasons" value="{{data.id}}">
          {{data.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-expansion-panel>

  <div style="margin-top: 5px;">
    {{trackCaption}}
  </div>
  
  <audio id="player" class="fixedElement" controls height="auto" autoplay #audioElement (ended)="videoEnded()" src="{{audioURL}}"></audio>

  <div style="margin-top: 5px;">
    {{trackInfo}}
  </div>

  <div>

    <button class="btn btn-outline-success btn-sm" (click)="continue()">Возобновить</button>

    <button mat-icon-button color="accent" (click)="rewindVideo()">
      <mat-icon>fast_rewind</mat-icon>
    </button>
    
      <button mat-icon-button color="accent" (click)="startPlay()">
        <mat-icon>pause</mat-icon>
      </button>

    <button class="btn" mat-icon-button color="accent" (click)="forwardVideo()">
      <mat-icon>fast_forward</mat-icon>
    </button>

    <button class="btn btn-outline-success btn-sm" (click)="videoEnded()">Следующий</button>
    
    <button mat-icon-button color="warn" (click)="download()"  *ngIf="seasonId">
      <mat-icon>download</mat-icon>
    </button>

    <app-markslist *ngIf="!isChild" #markslist [videoId]="fileId"></app-markslist>

    <div  *ngIf="showManagementButtons">
      <button class="btn btn-outline-success btn-sm" (click)="toFavorite()">В избранное</button>
      <button class="btn btn-outline-danger btn-sm" (click)="toBlackList()">В черный список</button>
      <button class="btn btn-outline-danger btn-sm" (click)="deleteSeries()">Удалить</button>
    </div>
  </div>

    <ul class="list-group list-group-light col_selector_container">
      <li class="list-group-item d-flex justify-content-between align-items-center" (click)="selectAudio(file)"
        [ngClass]="{'greenBackground' : file.id==selectedFile.id, 'orangeBackground' : file.isFinished }"
        *ngFor="let file of filteredFiles">

        <img
          src="{{file.coverURL}}"
                loading="lazy"
                *ngIf="showCover"
        />

        <div>
          {{file.name}} / {{file.seasoName}}
        </div>
  
        <div>
          <span class="badge badge-primary rounded-pill">{{file.durationMinutes}}</span>
          
          <button mat-icon-button class="text-success" (click)="openBook(file);$event.stopPropagation()" *ngIf="!showManagementButtons && !seasonId">
            <mat-icon>menu_book</mat-icon>
          </button>
  
          <button mat-icon-button class="text-success" (click)="moveToFavorite(file);$event.stopPropagation()" *ngIf="showManagementButtons">
            <mat-icon>done_outline</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="moveToBlacklist(file);$event.stopPropagation()" *ngIf="showManagementButtons">
            <mat-icon>block</mat-icon>
          </button>
        </div>
      </li>
    </ul>


</div>