li{cursor: pointer;}

.greenBackground{
    background-color: rgb(136, 190, 136);
}

.orangeBackground{
    background-color: rgb(240, 192, 129);
}

audio{
    width: 100%;
}
/* 
mat-form-field{
    width: 100%;
} */

.btn{
    margin-right: 15px;
}

button[mat-icon-button] {
    transform: scale(1.5);
  }

audio {
padding-top: 10px;
}

.rounded-pill {
transform: scale(1.5);
}