li{cursor: pointer;}

.greenBackground{
    background-color: rgb(136, 190, 136);
}

.orangeBackground{
    background-color: rgb(240, 192, 129);
}

audio{
    width: 100%;
}
/* 
mat-form-field{
    width: 100%;
} */

img{
    max-width: 300px;
}
.btn{
    margin-right: 15px;
}

button[mat-icon-button] {
    transform: scale(2);
  }

audio {
    padding-top: 10px;
    /* position: sticky;
    top: 0; */
}

.rounded-pill {
    transform: scale(2);
}

.limited{
    /* max-width: 100vw; 
    max-height: 100vh;  */
}
.parent{
    position: relative;
}

.col_selector_container{
    position: absolute;
    overflow-y: auto;
    list-style-type: none;
    height: 80vh;
    width: 100%;
    display:inline-block;
    vertical-align:top;
    padding-left: 0px;
}