<div class="col-md-12">

    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  
    <div>
      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Название</mat-label>
        <input matInput  [(ngModel)]="searchTitle" (ngModelChange)="search()">
      </mat-form-field>
  
      <mat-form-field appearance="fill"  *ngIf="isSelectSeries" >
        <mat-label>Автор или сборник</mat-label>
        <mat-select [(ngModel)]="serieId" (ngModelChange)="search()"  [disabled]="serieId">
          <mat-option *ngFor="let data of series" value="{{data.id}}">
            {{data.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill"  *ngIf="isSelectSeries" >
        <mat-label>Аудиокнига</mat-label>
        <mat-select [(ngModel)]="seasonId" (ngModelChange)="search()">
          <mat-option *ngFor="let data of seasons" value="{{data.id}}">
            {{data.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width"  *ngIf="isSelectSeries" appearance="fill">
        <mat-label>Сколько еще файлов проиграть</mat-label>
        <input matInput type="number"  [(ngModel)]="episodesLeft" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Выключить через (минут)</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="timerMinutes"
          (keyup.enter)="setTimer()"
        />
      </mat-form-field>

      <button mat-icon-button color="primary" (click)="setTimer()">
        <mat-icon>alarm_on</mat-icon>
      </button>

      <div *ngIf="timeLeft">
        Осталось до остановки: {{ timeLeft * 1000 | date : "mm:ss" }}
      </div>

    </div>

    <div *ngIf="selectedFile">{{selectedFile.name}}</div>
    <audio id="player"  controls height="auto" autoplay  #audioElement (ended)="videoEnded()" src="{{audioURL}}"></audio>

    <div>

      <button class="btn btn-outline-success btn-sm" (click)="continue()">Возобновить</button>
      
      <button mat-icon-button color="accent" (click)="rewindVideo()">
        <mat-icon>fast_rewind</mat-icon>
      </button>
<!-- 
      <button mat-icon-button color="accent" (click)="startPlay()">
        <mat-icon>pause</mat-icon>
      </button> -->

      <button mat-icon-button color="accent" (click)="forwardVideo()">
        <mat-icon>fast_forward</mat-icon>
      </button>

      <button class="btn btn-outline-danger btn-sm" (click)="videoEnded()">Следующий</button>
  
      <app-markslist *ngIf="!isChild" #markslist [videoId]="fileId"></app-markslist>

      <button class="btn btn-outline-success btn-sm" (click)="toFavorite()">В избранное</button>
      <button class="btn btn-outline-danger btn-sm" (click)="toBlackList()">В черный список</button>
    </div>
    
    <ul class="list-group list-group-light">
      <li class="list-group-item d-flex justify-content-between align-items-center" (click)="selectAudio(file)"
        [ngClass]="{'greenBackground' : file.id==selectedFile.id}"
        *ngFor="let file of filteredFiles">
        {{file.name}}
        <span class="badge badge-primary rounded-pill">{{file.durationMinutes}}</span>
      </li>
    </ul>

</div>  