<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  throwExceptions="true"
       autoReload="true">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="Sentry.NLog" />
	</extensions>
	
	<targets>
		<target xsi:type="Sentry" name="sentry"
				dsn="https://7b5242a17c30c84cd9c3f155eb7d296a@o4507070039851008.ingest.de.sentry.io/4507070043455568"
				layout="${longdate} ${logger}${exception:format=tostring}${newline}${stacktrace}${newline}${message}${newline}${newline}"
				environment="Development"
				breadcrumbLayout="${message}"
				minimumBreadcrumbLevel="Debug"
				minimumEventLevel="Error">
			<!-- Advanced options can be configured here-->
			<options
				sendDefaultPii="true"
				attachStacktrace="false"
				shutdownTimeoutSeconds="5"
				debug="false">
				<!--Advanced options can be specified as attributes or elements-->
				<includeEventDataOnBreadcrumbs>true</includeEventDataOnBreadcrumbs>
			</options>

			<!--Optionally add any desired additional Tags that will be sent with every message -->
			<tag name="exception" layout="${exception:format=shorttype}" includeEmptyValue="false" />

			<!--Optionally add any desired additional Data that will be sent with every message -->
			<contextproperty name="threadid" layout="${threadid}" includeEmptyValue="true" />
		</target>

		<target name="fileError" xsi:type="File" fileName="${basedir}/logs/error.txt"
			layout="${longdate}${newline}${exception:format=tostring}${newline}${stacktrace}${newline}${message}${newline}${aspnet-TraceIdentifier:ignoreActivityId=false}${newline}"
			/>
		<target name="fileCustomError" xsi:type="File" fileName="${basedir}/logs/error_custom.txt"
			layout="${longdate}${newline}${exception:format=tostring}${newline}${stacktrace}${newline}${message}${newline}${aspnet-TraceIdentifier:ignoreActivityId=false}${newline}"
			/>
			<!--archiveFileName="${basedir}/archives/error.{#####}.txt"
			archiveAboveSize="10240"
			archiveNumbering="Sequence"
			concurrentWrites="true"
			keepFileOpen="false"
			encoding="utf-8" />-->
		<target xsi:type="File" name="fileTarget" fileName="${basedir}/logs/${shortdate}_warn.log"
			layout="${longdate} ${newline}${stacktrace}${newline}${message}${newline}${aspnet-TraceIdentifier:ignoreActivityId=false}${newline}"
			/>
		<target xsi:type="File" name="fullFileTarget" fileName="${basedir}/logs/${shortdate}_full.log"
			layout="${longdate} ${newline}${stacktrace}${newline}${exception:format=tostring}${message}${newline}${aspnet-TraceIdentifier:ignoreActivityId=false}${newline}"
			/>
		<target xsi:type="File" name="infoForTg" fileName="${basedir}/logs/1_${event-properties:item=outputId}.log"
			layout="${longdate} ${newline}${message}${newline}${newline}${event-properties:item=fromId}"
			/>
		<target xsi:type="File" name="requests" fileName="${basedir}/logs/${shortdate}_requests.log"
			layout="${longdate}${newline}${message}${newline}${aspnet-TraceIdentifier:ignoreActivityId=false}${newline}"
			/>
			<!--layout="${longdate}${newline}${aspnet-request-method}${newline}${aspnet-request-url}${newline}${aspnet-request-posted-body}${newline}${aspnet-TraceIdentifier:ignoreActivityId=false}${newline}${aspnet-response-statuscode}:${aspnet-response-contentlength}bytes${newline}${newline}"-->
		
		<target xsi:type="ColoredConsole" name="consoleTarget"  layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>
	<rules>
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Info" writeTo="requests,fullFileTarget" final="true"/>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="fullFileTarget" />
		<logger name="*" minlevel="Warn" writeTo="consoleTarget" />
		<logger name="*" minlevel="Warn" writeTo="fileTarget" />
		
		<logger name="*" minlevel="Error" writeTo="fileError" />
		<logger name="FileStore.API.Startup" minlevel="Error" writeTo="fileCustomError" final="true"/>

		<logger name="*" writeTo="sentry" />

		<!--<logger name="Quartz*" minlevel="Trace" maxlevel="Warn"  writeTo="consoleTarget" final="true" />-->
	</rules>
</nlog>